* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgba(37,94,233,255);
  padding-top: 1rem;
}

header nav {
  margin-bottom: 1rem;
}

header nav .container {
  display: flex;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.container-hero{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-white{
  color: white;
}

.bg-grey {
  background-color: #d3d3d3;
}

.nav-links, .nav-login {
  padding: 0.5rem;
}

.nav-logo, .nav-login {
  min-width: 150px;
}

.nav-links {
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links ul a {
  display: inline-block;
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
}

.nav-login {
  text-align: right;
}

.hero-section {
  padding: 5rem 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.hero-section .container {
  max-width: 680px;
  min-height: 300px;
}

h1{
  text-align: center;
  font-size: 3rem;
}

.container-hero p{
  line-height: 2rem;
}

.container-hero button{
  margin: auto 2rem;
}

button{
  border: none;
  border-radius: 25px;
}

.btn-big{  
  padding: .8rem 1.5rem;
}

.btn-white{
  background-color: white;
}

.btn-black{
  background-color: rgba(35,39,42,255);
}

.btn-celeste{
  background-color: rgba(114,137,218,255);
}

.row {
  display: flex;
}

.col-large, .col-small {
  min-height: 300px;
}

.col-large {
  width: 60%;
}

.col-small {
  width: 40%;
}

.row h2, .row p{
  padding: 2em;
}

.box-green {    /* cambiare il nome della classe */
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

h3{
  background-image: url(../img/stars.svg);  /* fixare posizione e dimensioni */
}

.btn-container{
  margin: 2.5rem auto 4rem;
}

footer{
  background-color: rgba(35,39,42,255);
  padding-top: 6px;
}

.big-footer-container{
  max-width: 80%;
  margin: auto;
}

footer .col {
  flex-grow: 1;
  background-color: #20b2aa;
  min-height: 300px;
}

footer .col-large {
  width: 15%;
  background-color: #f08080;
  border-color: black;
}

footer hr {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.secondary-footer {
  background-color: #7fffd4;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo, .footer-btn {
  padding: 0.5rem;
  background-color: #FFB6C1;
}